<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"{{ if and .Site.Params.enableDarkMode .Site.Params.overrideSystemPreferences }}{{ with .Site.Params.defaultTheme | default "light" }} data-theme="{{ . }}"{{ end }}{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            {{ partial "header.html" . }}
            {{ if ne .Site.Params.headerLayout "flex" }}
                {{ if or (and .IsHome .Site.Params.displayMenuInHome) (and (not .IsHome) .Site.Params.enableMenu) }}
                    {{ partial "menu.html" . }}
                {{ end }}
                {{ partial "components/multilingual.html" . }}
                {{ partial "components/dark-mode.html" . }}
            {{ end }}
            {{ block "main" . }}{{ end }}
            {{ partial "components/back-to-top.html" . }}
            {{ partial "footer.html" . }}
        </div>
        {{ partial "components/service-worker.html" . }}
        {{ partial "third-party/script.html" . }}
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?e4abcbbcaf89a3ba21e51b1438f3cd43";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
            </script>
            
    </body>
</html>
